@model Models.DTO.EnfermedadDTO
@{
    ViewData["Title"] = "Enfermedad";
}

<div class="row">
    <fieldset class="col-lg-12 col-sm-12 mb-2">
        <legend>Botonera @ViewData["Title"]</legend>
        <a asp-action="Guardar" class="btn btn-primary btn-sm">Nuevo</a>
    </fieldset>
    <fieldset class="col-lg-12 col-sm-12">
        <legend>Lista de @ViewData["Title"]</legend>
        <form method="get" asp-action="Index" id="frmFiltroBusqueda" class="mb-1">
            <div class="input-group">
                <input type="text" autocomplete="off" class="form-control" placeholder="Escribe el nombre de la enfermedad" id="filtro" name="filtro" value="@ViewBag.filtro" />
                <button type="submit" class="btn btn-success btn-sm">Buscar</button>
                <button type="button" class="btn btn-danger btn-sm" onclick="LimpiarFormularioBusqueda()">Limpiar</button>
            </div>
        </form>
        <table class="table table-hover table-bordered table-responsive-sm">
            <thead>
                <tr>

                    <th>No</th>
                    <th>NOMBRE</th>
                    <th>DESCRIPCÍON</th>
                    <th class="text-center">OPCIONES</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.listaEnfermedad != null)
                {
                    foreach (var item in Model.listaEnfermedad)
                    {
                        <tr>
                            <td>@item.EnfermedadId</td>
                            <td>@item.NombreEnfermedad</td>
                            <td>@item.DescripcionEnfermedad</td>
                            <td class="text-center">
                                <button type="button" class="btn btn-danger btn-sm mr-1" onclick="EliminarRegistro(@item.EnfermedadId)">Eliminar</button>
                                <a class="btn btn-success btn-sm mr-1" asp-action="Editar" asp-route-id="@item.EnfermedadId">Editar</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="10" class="text-center">No hay @ViewData["Title"]</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row">
            <div class="col-12 text-center">
                <partial name="~/Views/Paginador/_Paginador.cshtml" model="Model" />
            </div>
        </div>
    </fieldset>
    <form asp-action="Eliminar"  method="post" id="frmEliminar">
        <input type="hidden" id="id" name="id" />
    </form>
    <script>
        function EliminarRegistro(id) {
            confirmarEliminacion('el paciente', () => {
                document.getElementById('id').value = id;
                document.getElementById('frmEliminar').submit();
            });
        }
    </script>
</div>
