@model Models.DTO.ServicioDTO
@{
    ViewData["Title"] = "Servicio";
}

<div class="row">
    <div class="col-lg-12 col-sm-12 mb-2">
        <div class="card">
            <div class="card-body">
                <a asp-action="Guardar" class="btn btn-primary btn-sm">Nuevo servicio</a>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-sm-12">
       <div class="card">
           <div class="card-body">
               <form method="get" asp-action="Index" id="frmFiltroBusqueda" class="mb-1">
                   <div class="md-form">
                       <div class="input-group">
                           <label for="filtro">Buscar por nombre</label>
                           <input type="text" autocomplete="off" class="form-control" id="filtro" name="filtro" value="@ViewBag.filtro" />
                           <button type="submit" class="btn btn-success btn-sm" title="Buscar"><i class="fas fa-search"></i></button>
                           <button type="button" class="btn btn-danger btn-sm" onclick="LimpiarFormularioBusqueda()" title="Limpiar busqueda"><i class="fas fa-eraser"></i></button>
                       </div>
                   </div>
               </form>
               <table class="table table-hover table-responsive-sm">
                   <thead>
                       <tr>
                           <th>NOMBRE</th>
                           <th>DESCRIPCIÓN</th>
                           <th class="text-center">OPCIONES</th>
                       </tr>
                   </thead>
                   <tbody class="animated fadeInLeft">
                       @if (Model != null && Model.listaServicios != null)
                       {
                           foreach (var item in Model.listaServicios)
                           {
                               <tr>
                                   <td>@item.NombreServicio</td>
                                   <td>@item.DescripcionServicio</td>
                                   <td class="text-center">
                                       <button type="button" class="btn btn-danger btn-sm mr-1" onclick="EliminarRegistro('@item.ServicioId')"><i class="fas fa-trash"></i></button>
                                       <a class="btn btn-success btn-sm mr-1" asp-action="Editar" asp-route-id="@item.ServicioId"><i class="fas fa-edit"></i></a>
                                   </td>
                               </tr>
                           }
                       }
                       else
                       {
                           <tr>
                               <td colspan="5" class="text-center">No hay @ViewData["Title"]</td>
                           </tr>
                       }
                   </tbody>
               </table>
               <div class="row">
                   <div class="col-12 text-center">
                       <partial name="~/Views/Paginador/_Paginador.cshtml" model="Model" />
                   </div>
               </div>
           </div>
       </div>
    </div>
    <form asp-action="Eliminar" method="post" id="frmEliminar">
        <input type="hidden" id="id" name="id" />
    </form>
    <script>
        function EliminarRegistro(id) {
            confirmarEliminacion('el servicio', () => {
                $('#id').val(id);
                $('#frmEliminar').submit();
            });
        }
    </script>
</div>

