<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Clinica</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/mdbootstrap/css/mdb.min.css" rel="stylesheet" />
    <link href="~/css/navbar.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/limonte-sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome-free-5.14.0-web/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <partial name="~/Views/Home/_Menu.cshtml" />
    

    <main class="content-wrapper">
        <div class="container-fluid">
            <div class="container">
                @RenderBody()
                <div class="text-center animated fadeInUp mt-md-2 mt-sm-1">
                    <span><i class="fas fa-cogs"></i> <strong>Hecho por:</strong> DevSpartan</span><br />
                    <span><i class="fas fa-mail-bulk"></i> <strong>Contactanos:</strong> dev.spartan.sv@gmail.com</span><br />
                    <span>
                        <i class="fas fa-smile"></i>
                        Si quieres apoyarnos suscribete
                        <a href="https://www.myASP.NET/index?r=Devspartansv">
                            aqui
                        </a> y recibe un hosting gratis por 60 dias.
                    </span>
                </div>
            </div>
        </div>
    </main>

    <div style="display:none">
        <a asp-controller="Account" asp-action="Cerrar" id="btnCerrarSesion"></a>
    </div>
    @if (TempData["success"] != null || TempData["warning"] != null)
    {
        if (TempData["success"] != null)
        {
            <input type="hidden" id="txtMensajeServidor" value="@TempData["success"]" />
        }
        if (TempData["warning"] != null)
        {
            <input type="hidden" id="txtMensajeServidor" value="@TempData["warning"]" />
        }
        <input type="text" id="txtIconoServer" value="@TempData["icono"]" />
    }
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/mdbootstrap/js/mdb.min.js"></script>
    <script src="~/lib/limonte-sweetalert2/sweetalert2.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
