@model DataAccessLogic.LogicaExpediente.ModificarExpediente.Ejecuta

@{
    ViewData["Title"] = "Editar";
}


<div class="row">
    <div class="col-12 mt-md-3">
        <div class="text-center">
            <h4>@ViewData["Title"] expediente</h4>
            <h6>Sistema de clinica <strong>Versión: Beta</strong></h6>
        </div>
    </div>
    <div class="offset-lg-3 offset-md-3 col-lg-6 col-md-6 col-sm-12 mt-2">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input  asp-for="ExpedienteId" type="hidden" />
            <div class="form-group">
                <label asp-for="PacienteId" class="control-label"></label>
                <select asp-for="PacienteId" class="form-control">
                    @if (Model.ListaPaciente != null || Model.ListaPaciente.Count > 0)
                    {
                        @foreach (var item in Model.ListaPaciente)
                        {
                            if (item.PacienteId == Model.PacienteId)
                            {
                                <option value="@item.PacienteId">@item.NombrePaciente @item.ApellidoPaciente</option>
                            }
                        }
                    }
                </select>
                <span asp-validation-for="PacienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnfermedadId" class="control-label"></label>
                <select asp-for="EnfermedadId" class="form-control">
                    @if (Model.ListaEnfermedad != null || Model.ListaEnfermedad.Count > 0)
                    {
                        <option value="">--selecciona una opcion--</option>
                        @foreach (var item in Model.ListaEnfermedad)
                        {
                            <option value="@item.EnfermedadId">@item.NombreEnfermedad</option>
                        }
                    }
                </select>
                <span asp-validation-for="EnfermedadId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary btn-block" />
                <a asp-action="Index" class="btn btn-danger btn-block">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
